@keyframes homepage-book-button {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
  
}

main {
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  padding: 5px;
  cursor: pointer;
}

#hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    width: 100vw;
}

.hero-content {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: luminosity;
  min-height: 100vh;
  padding: 1rem;
  margin-bottom: 1rem;
}


.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hero-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.hero-content h1, .hero-content h2, .hero-content button {
  text-align: start;
  margin: 0.25rem 3rem;
  z-index: 1;
  overflow: visible;
}

.hero-content h1 {
  color: var(--accent-color);
  text-shadow: -1px -1px var(--accent-color), -1px 1px var(--accent-color),
    1px -1px var(--accent-color), 1px 1px var(--accent-color);
  font-size: 130px;
}

.hero-content h2 {
  font-weight: bolder;
  font-size: 30px;
  font-weight: 300;
  color: black;
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
}

.hero-content button {
  position: relative;
  top: 5px;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--accent-color);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  animation: homepage-book-button 2s infinite;
  transition: all 0.3s ease-in-out;
}

.hero-content button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero-content img {
  margin: 1rem;
  max-width: 100%;
  height: auto;
}


@media screen and (max-width: 540px) {
  #hero {
    margin-top: 150px;
  }
  .hero-content {
    justify-content: start;
    margin-top: 200px;
    width: 90vw;
  }

  .hero-content h1 {
    position: relative;
    margin-right: 0;
    font-size: 60px;
  }

  .hero-content h2 {
    margin-right: 0;
    font-size: 21px;
  }
}

#gallery {
  display: none;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 1rem;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  gap: 5px;
  overflow: hidden;
  margin-left: 1rem;
  margin-right: 1rem;
  scroll-behavior: smooth;
}

#testimonials {
  display: none;
  background-color: var(--secondary-color);
  align-items: center;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.testimonial {
  max-width: 480px;
  min-width: 480px;
  background-color: var(--primary-color);
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.testimonial img {
  max-width: 50px;
  max-height: 50px;
}