#services-list-section {
  background-color: var(--primary-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--margin-top-gap);
}

.services-categories {
  display: flex;
  gap: 2rem;
}

.category-button {
  background: none;
  border: none;
  color: black;
  transition: all 0.25s ease;
}

.category-button:hover {
  text-decoration: underline;
}

.category-button.active {
  background-color: var(--accent-color);
  color: white;
}

.services-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.services-content h3 {
  font-size: 30px;
}

.category-content {
  width: 100%;
}

.service-name-price, .addon-name-price {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-name,
.service-price,
.addon-name,
.addon-price {
  background-color: white;
  position: relative;
  z-index: 1;
  padding: 0 0.25rem;
}

.service-name-price::before, .addon-name-price::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  border-bottom: 2px dotted #999;
  z-index: 0;
}

.addons-content {
    border: 1px solid black;
    padding: 0 1rem;
}

.addons-content h3 {
    border-bottom: 1px solid black;
}

.addon-name-price h4 {
    font-size: 28px;
}