:root {
    --primary-color: #ffffff;
    --secondary-color: #fdfd96;
    --accent-color: #654321;
}

a {
    all: unset;
    display: inline;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}

html, body {
    font-family: "Cactus Classical Serif", serif;
    margin: 0px;
    padding: 0px;

}

header, #top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    #top-nav-bar {
        display: none;
    }
}

header {
    background-color: var(--secondary-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

h1 {
    padding: 1rem;
    background-color: var(--primary-color);
    border-style: groove;
    border-color: var(--accent-color);
    border-width: 0.5rem;
    border-radius: 50%;
    text-align: center;
}

#side-nav-bar-btn {
    display: none;
}

@media screen and (max-width: 480px) {
    #side-nav-bar-btn {
        display: block;
    }
}

.header-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
    align-items: center;
    gap: 0.5rem;
}

.header-links li {
    background-color: var(--primary-color);
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: solid;
    border-radius: 25%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    background-color: var(--primary-color);
    border-style: groove;
    border-width: 0.5rem;
    border-radius: 30%;
    border-color: var(--accent-color);
    font-family: "Cactus Classical Serif", serif;
    padding: 5px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
    #hero {
        display: flex;
        flex-direction: column-reverse;
    }
}

#hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero img {
    margin: 1rem;
    max-width: 100%;
    height: auto;
}

#gallery {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    overflow: hidden;
}

.gallery-container {
    display: flex;
    gap: 5px;
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;
    scroll-behavior: smooth;
}

#testimonials {
    display: flex;
    background-color: var(--secondary-color);
    align-items: center;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.testimonial {
    max-width: 480px;
    min-width: 480px;
    background-color: var(--primary-color);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.testimonial img {
    max-width: 50px;
    max-height: 50px;
}

#about-us-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
}

#about-us-summary p {
    text-align: center;
}

#services-list-section {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-list-container {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1rem;
}

#beverage-menu-section {
    background-color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beverage-menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    justify-content: center;
    align-items: flex-start;
}

.beverage {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 5rem;
}

footer ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer li {
    margin-bottom: 1rem;
}